body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.main {
  position: relative;
  min-height: 1000vh;
}

.title {
  padding: 120px 24px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 1500px;
}
