.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input {
  border: 1px solid black;

  width: 100%;
}

.form button {
  border: 1px solid black;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}
